<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button (click)="dismiss()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="searchImages(searchQuery)" showCancelButton="always"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- skeleton loading shimming -->

<!-- mostar no se encontraron resultados-->
<ion-grid >
  <ion-row>
    <ion-col *ngFor="let image of images; index as i; first as isFirst" [sizeXl]="settings.columnsPerRow || 2" [sizeLg]="settings.columnsPerRow || 2" [sizeMd]="settings.columnsPerRow || 3" [sizeSm]="settings.columnsPerRow || 4"  [sizeXs]="settings.columnsPerRow || 6">
        <ion-card class="welcome-card" style=" display: block;"  (click)="selectedImage(image)">
            <img [src]="image.webformatURL" (error)="action.path = environment.ERROR_IMAGE_DEFAULT" />
            <ion-card-header>
              <ion-card-title text-center>{{image.name}}</ion-card-title>
            </ion-card-header>
          </ion-card>
    </ion-col>

     <!--
    <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    -->
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>

