//estaria repedito ya abajo pero por la encapsulacion de lo paso
.dot {
    height: 50px;
    width:  50px;
    margin: 5px;
    //background-color: #bbb;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: black;

    display: inline-block;
  }

  .boxes-container {
    height: 100%;
  }