<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Comunicate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-slides pager="true" class="slides"> <!-- [options]="slideOpts" -->
    <ion-slide>
      <ion-toolbar>
        <ion-buttons end slot="end"><ion-button color="primary" fill="outline" (click)="dismiss()">Saltar</ion-button></ion-buttons>
      </ion-toolbar>
      
      <img src="assets/images/ica-slidebox-img-1.png"/>
      <h2>Bienvenidos a Comunicate</h2>
      <p>Expresate a través de tarjetas personalizables.</p>
    </ion-slide>
    <ion-slide>
          <ion-toolbar>
            <ion-buttons end slot="end"><ion-button color="primary" fill="outline" (click)="dismiss()">Saltar</ion-button></ion-buttons>
          </ion-toolbar>
          <img src="assets/images/ica-slidebox-img-2.png" />
          <h2>¿Cómo empiezo?</h2>
          <p>Para editar deberemos tocar el candado.</p>
    </ion-slide>
    <ion-slide>
          <ion-toolbar>
            <ion-buttons end slot="end"><ion-button color="primary" fill="outline" (click)="dismiss()">Saltar</ion-button></ion-buttons>
          </ion-toolbar>
          <img src="assets/images/ica-slidebox-img-3.png" />
          <h2>Customizando la aplicación</h2>
          <p>Cuando presionemos el engranaje podrás adaptar la aplicación a lo que necesites.</p>
    </ion-slide>
    <ion-slide>
        <h2>Listo para comenzar</h2>
        <ion-buttons end slot="center">
          <ion-button color="primary"  (click)="dismiss()">Continuar</ion-button>
        </ion-buttons>
  </ion-slide>
  </ion-slides>
</ion-content>