// color que cambia la imagen apretada
.latest-selected {
    background-color: #cc0;
    color: #333;
  } 

  
  ion-button div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .button-selected {
    color: #222;
  } 
  .latest-button-selected {
    color: #cc0;
  } 
  