// color que cambia la imagen apretada
.latest-selected {
    background-color: #cc0;
    color: #333;
  } 

    // color que cambia la imagen apretada
    .selected-action {
      background-color: #ccc;
    } 
  
    .selected-action ion-card-content h2{
      color: black ;
      font-weight: bold;
    }
  
  ion-button div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .button-selected {
    color: #222;
  } 
  .latest-button-selected {
    color: #cc0;
  } 
  