.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

  // color que cambia la imagen apretada
  .selected-action {
    background-color: #ccc;
  } 

  .selected-action ion-card-content h2{
    color: black ;
    font-weight: bold;
  }

 //TODO: repeat in other component
  // color que cambia la imagen apretada
  .latest-selected {
    background-color: #cc0;
    color: #333;
  } 

  ion-fab-button[data-desc] {
    position: relative;
  }
  
  ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    background-color: var(--ion-color-primary);
    padding: 9px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  }

  .ion-fab-extra-margin {
    margin-bottom:112px;
  }