<!-- ver de no utilizar tabs y tuilizar directmente segments ?-->
<ion-header> 
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      
      <ion-title>Comunicate</ion-title>
      <ion-buttons *ngIf="settings.editMode" slot="end">
          <ion-button (click)="pushSettingsPage()">
            <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-button>
          <ion-button (click)="lock()" >
            <ion-icon slot="icon-only" name="unlock"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-buttons *ngIf="!settings.editMode" slot="end">
          <ion-button (click)="checkAndUnLock()">
            <ion-icon slot="icon-only" name="lock"></ion-icon>
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
  
    <ion-toolbar>
      <!-- fuerza a que este seleccionado para modificar-->
        <ion-segment  scrollable [(ngModel)]="categorySelected"  (ionChange)="categoryChanged()">
            <ion-segment-button *ngFor="let category of categories" [class.latest-selected]="settings.editMode && category == latestSelected"  [value]="category" (click)="unselectedCategoryIfEquals(category)" (press)="editCategory(category)" > <!-- la ultima funcion es para que deseleccione si se toca devuelta-->
              <ion-icon *ngIf="settings.ShowCategories == 0 || settings.ShowCategories == 2" [name]="category.icon"></ion-icon>
              {{settings.ShowCategories == 1 || settings.ShowCategories == 2 ? category.name  : ''}}
            </ion-segment-button>
          </ion-segment>

      <ion-segment scrollable [(ngModel)]="groupSelected" *ngIf="settings.ShowGroup && categorySelected" (ionChange)="groupChanged()"> <!-- porque puede ser que por alguna razon no se cargo para que no estalle -->
        <ion-segment-button *ngFor="let group of groups" [class.latest-selected]="settings.editMode && group == latestSelected" [value]="group" (click)="unselectedGroupIfEquals(group)" (press)="editGroup(group)"> <!-- la ultima funcion es para que deseleccione si se toca devuelta-->
          <ion-icon *ngIf="settings.ShowGroup == 0 || settings.ShowGroup == 2" [name]="group.icon"></ion-icon>
          {{settings.ShowGroup == 1 || settings.ShowGroup == 2 ? group.name  : ''}}
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    

  <!-- grilla de las acciones -->
  <!-- ver que escrolle horizontalmente y  -->
  <ion-grid>
      <ion-row *ngIf="categorySelected">
        <ion-col *ngFor="let action of actions | actionsByGroup:actionGroups; index as i; first as isFirst" [sizeLg]="settings.columnsPerRow || 2" [sizeMd]="settings.columnsPerRow || 3" [sizeSm]="settings.columnsPerRow || 4" [sizeXl]="settings.columnsPerRow || 4" [sizeXs]="settings.columnsPerRow || 6">
            <ion-card class="welcome-card" [class.selected-action]="action == actionSelected" [class.latest-selected]="settings.editMode && action == latestSelected" (click)="actionChanged(action)" (press)="editAction(action)">
                <ion-img [src]="action.path" onError="this.src='./assets/images/camera-icon.png';"></ion-img>
                <ion-card-header>
                  <ion-card-title text-center>{{action.name}}</ion-card-title>
                </ion-card-header>
              </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- llevar a hacerlo generico sea con ngif en los otros o viendo el ultimo tipo que selecciono-->
    <!-- o usar una interfaz que permita saber que selecciono en una list -->

    <ion-fab *ngIf="settings.editMode" vertical="bottom" horizontal="end" style="margin-bottom:112px;">
      <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button (click)="addAction()" [disabled]="latestSelected == noSelected" data-desc="Añadir accion">
              <ion-icon name="walk"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="addGroup()" [disabled]="latestSelected == noSelected" data-desc="Añadir grupo">
              <ion-icon name="grid"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="addCategory()" data-desc="Añadir categoria">
              <ion-icon name="images"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <ion-fab *ngIf="settings.editMode" vertical="bottom" horizontal="end">
      <ion-fab-button color="secondary" (click)="editItem()" [disabled]="latestSelected == noSelected">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="deleteItem()" [disabled]="latestSelected == noSelected">
          <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
    </ion-fab>
  </ion-content>  