<!-- ver de no utilizar tabs y tuilizar directmente segments ?-->
<ion-header> 
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      
      <ion-title>Comunicate</ion-title>
      <ion-buttons *ngIf="settings.editMode" slot="end">
          <ion-button (click)="pushSettingsPage()">
            <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-button>
          <ion-button (click)="lock()" >
            <ion-icon slot="icon-only" name="unlock"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-buttons *ngIf="!settings.editMode" slot="end">
          <ion-button (click)="checkAndUnLock()">
            <ion-icon slot="icon-only" name="lock"></ion-icon>
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content >


  <!-- (click)="unselectedItem(category)" (press)="editItem(category)" [class.latest-selected]="settings.editMode && category == latestSelected" -->
  <ion-header> 
    <ion-segment #pageSegment [(ngModel)]="tabs" scrollable> <!-- not working scrolleable directive -->
      <!--<ion-virtual-scroll [items]="categories">-->
        <ion-segment-button *ngFor="let category of categories;let i = index" [value]="i" (ionSelect)="selectTab(i);unselectedItem(category);centerSegment($event)" [class.latest-selected]="settings.editMode && category == latestSelected"> 
          <ion-icon *ngIf="settings.ShowCategories != 1"  [name]="category.icon"></ion-icon>
          <ion-label *ngIf="settings.ShowCategories != 0">{{category.name}}</ion-label>
        </ion-segment-button>
      <!--</ion-virtual-scroll>-->
    </ion-segment>
  </ion-header>
  <ion-content>
    <ion-slides #pageSlider (ionSlideWillChange)="changeWillSlide($event)">
      <ion-slide  *ngFor="let category of categories" [style.background-color]="category.color">
          <app-category-detail [category]="category" class="allWith" [(latestSelected)]="latestSelected" [settings]="settings" (callEditing)="editItem($event)"></app-category-detail>
      </ion-slide>
    </ion-slides>
  </ion-content>

  </ion-content>  
    <ion-fab *ngIf="settings.editMode" vertical="bottom" horizontal="end" class="ion-fab-extra-margin">
      <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button (click)="addAction()" [disabled]="!(tabs > -1)" data-desc="Añadir accion">
              <ion-icon name="walk"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="addGroup()" [disabled]="!(tabs > -1)" data-desc="Añadir grupo">
              <ion-icon name="grid"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="addCategory()" data-desc="Añadir categoria">
              <ion-icon name="images"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <ion-fab *ngIf="settings.editMode" vertical="bottom" horizontal="end">
      <ion-fab-button color="secondary" (click)="editItem(latestSelected)" [disabled]="latestSelected == noSelected">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="deleteItem(latestSelected)" [disabled]="latestSelected == noSelected">
          <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
    </ion-fab>
  