<form (ngSubmit)="onSubmit()" #actionForm="ngForm" [formGroup]="actionform" class="boxes-container">
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-buttons slot="secondary" class="ion-margin-end">
                <ion-button size="large" [disabled]="!actionForm.valid" type="submit" >
                  <h3>Finalizar</h3>
                </ion-button>
               </ion-buttons>
          </ion-buttons>
          <ion-title>Accion</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row>
      <ion-col [sizeLg]="settings.columnsPerRow || 2" [sizeMd]="settings.columnsPerRow || 3" [sizeSm]="settings.columnsPerRow || 4" [sizeXl]="settings.columnsPerRow || 4" [sizeXs]="settings.columnsPerRow || 6">
        <ion-card class="welcome-card" (click)="takePhoto()">
          <img [src]="actionForm.value.path" (error)="actionForm.value.path = environment.ERROR_IMAGE_DEFAULT" />
          <ion-card-header>
            <ion-card-title text-center>{{actionform.get('name').value}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input formControlName="name" type="text" placeholder="nombre categoria" autofocus clearInput></ion-input>
      <ion-button (click)="speechAction()">
        <ion-icon slot="icon-only" name="play"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
        <ion-label>Categoria</ion-label>
        <ion-select formControlName="category" interface="popover" (ionChange)="categoryChanged()">
          <ion-select-option *ngFor="let category of categories"  [value]="category.id"><ion-icon [name]="category.name" item-left></ion-icon>{{category.name}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Orden</ion-label>
        <ion-select formControlName="order" interface="popover">
          <ion-select-option *ngFor="let act of actions;index as i;"  [value]="i">{{act.name}}</ion-select-option>
        </ion-select>
    </ion-item>
 </ion-content>
</form>
